* {
    -webkit-transition: all 0.5s;
    -moz-transition:    all 0.5s;
    -ms-transition:     all 0.5s;
    -o-transition:      all 0.5s;
    transition:         all 0.5s;
}


h1,h2,h3,h4,h5,h6 {
    -webkit-font-smoothing; antialiased;
    text-rendering: optimizeLegibility;
    font-weight: bold;
}

h1 {
    font-size: 3em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Playfair Display;
    line-height: 52px;
}

h1,h2 {
    margin: 0 0 20px;
}

h3 {
    margin: 20px 0;
}

h4 {
    font-size: 18px;
}

/* ONTDEK */

#ontdek {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

#section1 {
    min-height: 584px;
    background-color: #021143;
	background: linear-gradient(#000633, #0d4d9b);
}

#section2 {
    min-height: 640px;
    background-color: #ED343A;
}

#section3 {
    min-height: 640px;
    background: #062a69;
    background: -webkit-linear-gradient(#000633, #0d4d9b);
    background: -moz-linear-gradient(#000633, #0d4d9b);
    background: -o-linear-gradient(#000633, #0d4d9b);
    background: linear-gradient(#000633, #0d4d9b);
}

#section4 {
    min-height: 564px;
    background: #3e1c50;
    background: -webkit-linear-gradient(10deg, #770615, #083188);
    background: -moz-linear-gradient(10deg, #770615, #083188);
    background: -o-linear-gradient(10deg, #770615, #083188);
    background: linear-gradient(10deg, #770615, #083188);
}

#section5 {
    min-height: 640px;
    background: #FFAA00;
    background: -webkit-linear-gradient(90deg, #FFAA00, #FF5700);
    background: -moz-linear-gradient(90deg, #FFAA00, #FF5700);
    background: -o-linear-gradient(90deg, #FFAA00, #FF5700);
    background: linear-gradient(90deg, #FFAA00, #FF5700); 
}

#section6 {
    min-height: 536px;
    background: #CECECE;
    background: -webkit-linear-gradient(90deg, #CECECE, #FFFFFF, #CECECE);
    background: -moz-linear-gradient(90deg, #CECECE, #FFFFFF, #CECECE);
    background: -o-linear-gradient(90deg, #CECECE, #FFFFFF, #CECECE);
    background: linear-gradient(90deg, #CECECE, #FFFFFF, #CECECE); 
}

#section7 {
    min-height: 590px;
    background: ;
    background: -webkit-linear-gradient(45deg, #39090b, #171717);
    background: -moz-linear-gradient(45deg, #39090b, #171717);
    background: -o-linear-gradient(45deg, #39090b, #171717);
    background: linear-gradient(45deg, #39090b, #171717); 
}

#section1 .hero-text,
#section2 .hero-text,
#section3 .hero-text,
#section4 .hero-text,
#section5 .hero-text,
#section6 .hero-text,
#section7 .hero-text {
    float: left;
}

#dytg1 img,
#ct1 img,
#co1 img,
#hgd1 img,
#ici1 img,
#cc1 img,
#po1 img {
    float: right;
}

#cc1 img {
    margin: 35px -83px 0;
    width: auto;
    height: auto;
    max-width: 70%;
    max-height: 70%;
}

#dytg1 img {
    margin: 50px -97px 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

#ct1 img {
    margin: 80px -97px 0;
    width: auto;
    height: auto; 
    max-width: 83%;
    max-height: 83%;;
}

#co1 img {
    margin: 83px -96px 0;
    width: auto;
    height: auto; 
    max-width: 65%;
    max-height: 65%;
}

#hgd1 img {
    margin: 65px -106px 0;
    width: auto;
    height: auto;
    max-width: 85%;
    max-height: 85%;
}

#ici1 img {
    margin: 85px -104px 0;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
}

#po1 img {
    margin: 60px -125px 0;
    width: auto;
    height: auto;
    max-width: 110%;
    max-height: 110%;
}

.cclogo-img {
    margin: 0 0 40px 0;
    width: auto;
    height: auto;  
    max-width: 135px;
    max-height: 45px;
}

.dytglogo-img {
    margin: 0 0 40px 0;
    width: auto;
    height: auto;  
    max-width: 80px; 
    max-height: 80px;
}

.ctlogo-img {
    margin: 0 0 40px 0;
    width: auto;
    height: auto;  
    max-width: 70px;
    max-height: 70px;
}

.cologo-img {
    margin: 0 0 40px 0;
    width: auto;
    height: auto;  
    max-width: 50px; 
    max-height: 50px;
}

.hgdlogo-img {
    margin: 0 0 40px 0;
    width: auto;
    height: auto;   
    max-width: 55px; 
    max-height: 55px;
}

.icilogo-img {
    margin: 0 0 40px 0;
    width: auto;
    height: auto;
    max-width: 220px;
    max-height: 30px;
}

.pologo-img {
    margin: 0 0 40px 0;
    width: auto;
    height: auto;
    max-width: 155px;
    max-height: 55px;
}

#ontdek .hero-text {
    margin: 100px 0 90px 52px;
    padding: 0 0 0 15px;
    width: 390px;
}

#ontdek .hero-text h1,
#ontdek .hero-text p {
    width: 375px;
    color: #FFF;
}

#ontdek .hero-text h1 {
    font-weight: bold;
}

#ontdek .hero-text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

#ontdek .hero-text-cc {
    width: 402px;
}

#ontdek .hero-text-cc h1,
#ontdek .hero-text-cc p {
    width: 387px;
}

#ontdek .hero-text-ici h1,
#ontdek .hero-text-ici p {
    color: #56564c;
}

#ontdek .btn {
    border-radius: 40px;
    width: 140px;
    height: 50px;
    margin-top: 30px;
    font-size: 14px;
    color: #404040;
    line-height: 23px;
    text-align: center;
    border-color: transparent;
    background-color: #FFF;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.15);
    transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
}

#ontdek .btn-ici .btn {
    color: white;
    background: #c93f93;
}
    
#ontdek .btn:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.15);
}

#ontdek a {
    padding: 14px 0 0 0;    
}

#ontdek .first {
    margin-top: -30px;
}

/* MEDIAQUERIES */
