@charset "utf-8";
/* CSS Document */

#love1 {
	background-image: url(../recources/love/Background.jpg);
	background-size: cover;
	height: 80vh;
}

.introduction {
	background-color:rgba(0, 0, 0, 0.3);
	padding: 5px;
	border-radius: 2%
}
.scroll-button {
	background-color: #FFFFFF;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	display: table;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.scroll-button a {
	text-decoration: none;
	text-align: center;
	display: table-cell;
    vertical-align: middle;
	color: #000000;
	font-size: 1.8em
}