@charset "utf-8";
/* CSS Document */
html, body {
  min-height: 100% !important;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}
.mask {
	min-height: 100% !important;
}
/*@media screen and (min-width: 575px) {
		body {
		background: url(https://lh3.googleusercontent.com/LzXyShyCUJ3FfblVKONn_WtSWvy4GTPUXKV3V7j1xtP02G-jLsnfZ4FIAhqsLa3PoJoNu4vlXZ33g3bvca2NYpvVBW5mh_yISjx3UlRe6jxn5hoKk7lq5ZL7DIGNoGS2AdAo9-NNZpdnMSwRXaq-7q2iz9FanVBG_PtMmy7PlUTz7bmBbDioZ4ZZ3bfiWkRTATdE23lHgjc_YaUA9pyCuxqIgV3oSJjrXDovGRCqYLuEZHnVSc5iG8BAUb46hN30IBbEzFinWrzLtXJaQzxjZv7EfLTxj4f6TB0igUiSU2ANrpOHkOisbDKAM9LBjmlQaCjnQBR1j-QJR50EZrMWhhUjBQUFVK4EAwoKvcIbOd6gSWEsLvGgxLUlOySStscy-_ib_D0pRh2vtcfUw5rIwXzAf2CzG-5BaGo2GE0tAiGuiArFeStwmR7JB2IH2JbzmI6rMRbgNwvYPnAZNhZ27g15AcYQ_hTnfIVLWfgNGO8Ef3WXVIekc1n6Mj6SYuhdZP3_JRmCbQRiaMIiMaCu-ncerNLy8UovjzGkE9kND3NkkszNgd2jUtpEXi0oOnbA7Tt7l6wEfKSp6bfm4WjHt6uVg1UOYKlDJzSGv6NKGJa__qbC9Ije-Z9kLc8-_Av0VWD_m7sOCTWHOeTbVEk4gJcRRbblny9lnyz4ZGG8ALsVQX3g3eK-ppI2sCW3FuwPzBAf2sgra-KxkVt-fxwWoSoUww=w733-h1057-no) 0 0 no-repeat ;
		background-size: cover;
	    background-position: center;
		background-attachment: fixed;
	}
}

@media screen and (max-width: 574px) {
		body {
		background: url(https://lh3.googleusercontent.com/LzXyShyCUJ3FfblVKONn_WtSWvy4GTPUXKV3V7j1xtP02G-jLsnfZ4FIAhqsLa3PoJoNu4vlXZ33g3bvca2NYpvVBW5mh_yISjx3UlRe6jxn5hoKk7lq5ZL7DIGNoGS2AdAo9-NNZpdnMSwRXaq-7q2iz9FanVBG_PtMmy7PlUTz7bmBbDioZ4ZZ3bfiWkRTATdE23lHgjc_YaUA9pyCuxqIgV3oSJjrXDovGRCqYLuEZHnVSc5iG8BAUb46hN30IBbEzFinWrzLtXJaQzxjZv7EfLTxj4f6TB0igUiSU2ANrpOHkOisbDKAM9LBjmlQaCjnQBR1j-QJR50EZrMWhhUjBQUFVK4EAwoKvcIbOd6gSWEsLvGgxLUlOySStscy-_ib_D0pRh2vtcfUw5rIwXzAf2CzG-5BaGo2GE0tAiGuiArFeStwmR7JB2IH2JbzmI6rMRbgNwvYPnAZNhZ27g15AcYQ_hTnfIVLWfgNGO8Ef3WXVIekc1n6Mj6SYuhdZP3_JRmCbQRiaMIiMaCu-ncerNLy8UovjzGkE9kND3NkkszNgd2jUtpEXi0oOnbA7Tt7l6wEfKSp6bfm4WjHt6uVg1UOYKlDJzSGv6NKGJa__qbC9Ije-Z9kLc8-_Av0VWD_m7sOCTWHOeTbVEk4gJcRRbblny9lnyz4ZGG8ALsVQX3g3eK-ppI2sCW3FuwPzBAf2sgra-KxkVt-fxwWoSoUww=w733-h1057-no);
		background-size: cover;
	    background-position: center;
		background-attachment: fixed;
	}
}*/
@media screen and (max-width: 378px) {
		
	h1 {
		font-size: 1.50em !important;
	}
}
.apps {
	background-color: rgba(255,255,255,0.80);
	padding-top: 20px;
	margin-top: 190px !important;
	border-radius: 8px;max-width: 90%;
}
.app-drawer {
	background-color: #D9DADA;
	padding-top: 20px;
	margin: 20px !important;
	border-radius: 8px;max-width: 90%;
}

.weatherwidget-io{
	background-color: rgba(255,255,255,0.80);
	margin-top: 70px !important;
	border-radius: 8px;
	max-width: 90%;
}

.calendar-div{
	background-color: rgba(255,255,255,0.80);
	margin-top: 70px !important;
	border-radius: 8px;
	max-width: 90%;
}
.switches{
	background-color: rgba(255,255,255,0.80);
	margin-top: 70px !important;
	border-radius: 8px;
	max-width: 90%;
	text-align: left;
}

.logo-link {
	width: 70%;
	height: auto;
}

.image-wrapper {
	display: table-cell;
    text-align: center;
    vertical-align: middle;
 	min-height: 100px;
 	min-width: 100px;
	height: 100px;
	width: 100px;
 	border-radius: 50%;
 	background: #FFFFFF;
}
.image-wrapper img {
    vertical-align: middle;
}
.card {
	background:rgba(0,0,0,0.00);
	border: none;
}
h1 {
	color: white;
	text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-weight: 100;
}
.shadow {
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#settings-button {
	
}
/* Search bar */
form {
	padding-top: 180px;
	width: 80% !important;
	max-width: 800px;
}


form.google input[type=text] {
  padding: 10px;
  font-size: 17px;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border:none;
  border-radius: 8px 0 0 8px; /*In order: top-left, top-right, bottom-right, bottom-left*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); /*Material-esque box shadow*/
}
form.google button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #0b7dda;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 0 8px 8px 0; /*In order: top-left, top-right, bottom-right, bottom-left*/
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
form.google {
  width: 55%;
  margin: 0;
  position: absolute;
  top: 80px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
form.google::after {
  content: "";
  clear: both;
  display: table;
}
@media only screen and (max-width:600px) {
  body {margin: 0.9em;}
  form.google {width: 100%;}
}

.label {
	padding-top: 10px;
}

.content {
	
}

.calendar {
	min-height: 400px !important;
	min-width: 95%;
	max-width: 98%;
	border-radius: 8px !important;
	padding: 10px;
}

#date {
	text-shadow: 2px 2px 8px #000;
}

/*Modal*/
.modal-fullscreen {
  padding: 10 !important;
	width: 100% !important;
}
  
  .modal-dialog {
    min-width: 100% !important;
    height: 90%;
    margin: 0;
    padding: 10;
  }
  
  .modal-content {
    height: auto;
    min-height: 100%;
    border: 0 none;
    border-radius: 0;
  }
  
/* Calendar */
.ij_wrap {
font-family:sans-serif;
font-size:12px;
width:100%;
height:400px;
overflow:auto;
overflow-x:hidden;
overflow-y:auto;
}

.ij_wrap a, .ij_wrap a:hover {
text-decoration:none;
}

.ij_table {
font-family:sans-serif;
font-size:12px;
border-collapse:collapse;
width:100%;
}

.ij_date {
background:rgba(255,255,255,1);
}

.ij_date th {
text-align:left;
padding:14px 4px 4px 4px;
font-size:13px;
}

.ij_row_a, .ij_row_b {
border-top:1px solid #ccf;
border-bottom:1px solid #ccf;
}

.ij_row_a {
}

.ij_row_b {
}

.ij_cal01 {
background:#f4f4ff;
}
.ij_cal01 .ij_text:before {
content:"";
padding-right:0;
color:#449;
font-size:10px;
}

.ij_cal02 {
background:#f4fff4;
}
.ij_cal02 .ij_text:before {
content:"";
padding-right:0;
color:#494;
font-size:10px;
}

.ij_cal03 {
background:#fff4f4;
}
.ij_cal03 .ij_text:before {
content:"";
padding-right:0;
color:#944;
font-size:10px;
}

.ij_cal04 {
background:#f4f4f4;
}

.ij_cal05 {
background:#ffffe0;
}

.ij_time, .ij_desc {
line-height:16px;
padding-top:3px;
}

.ij_time {
min-width:70px;
width:70px;
text-align:right;
padding-right:6px;
color:#666;
}

.ij_time div {
}

.ij_desc a {
display:block;
width:194px;
height:16px;
overflow:hidden;
cursor:pointer;
text-decoration:none;
color:#000;
outline:none;
padding-left:6px;
}

.ij_desc a:hover {
padding-left:4px;
border-left:2px solid #ccf;
color:#000;
}

.ij_desc span {
display:block;
}

.ij_text {
}

.ij_text u:hover {
color:blue;
}

.ij_loc {
margin-top:6px;
font-size:11px;
color:#060;
}

.ij_credit {
text-align:center;
padding:12px 0 4px 0;
background:#fff;
font-size:9px;
color:#777;
}

.ij_credit a, .ij_credit a:hover {
color:#447;
font-weight:bold;
}
/* End calendar */

.title {
	text-align: left;
	color: #333333;
	padding-top: 10px;
}
