@charset "utf-8";
/* CSS Document */
body {
	height: 100%
}
.navbar {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pf_logo {
	width: 30%;
	height: auto;
	margin-top: 20px;
}

.side-img {
	max-width: 100%;
	height: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.side-vid {
	margin-top: 30px;
	margin-bottom: 30px;
}
.title {
	color: white
}

.btn-round {
	border-radius: 30px !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text {
	float: left;
}
.introduction {
	color: white;
	margin-top: 7%;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#intros {
	padding-top: 40px;
	padding-bottom: 40px;
}
.title {
	padding-top: 75px;
}
blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 10px solid #cd1719;
  border-right: 2px solid #cd1719;
  
  /*Box Shadow - (Optional)*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}
.carbon {
	background:
	linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
	linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
	linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
	linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
	linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
	linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
	min-height: 200px;
}
	/* Sections */
#section1 {
	margin-top: 75px;
   	min-height: 450px;
    background-color: #fdd835;
	background: -webkit-linear-gradient(45deg, #e4c330, #c3a729);
	background: -o-linear-gradient(45deg, #e4c330, #c3a729);
	background: linear-gradient(45deg, #e4c330, #c3a729);
}
#section2 {
   	min-height: 450px;
    background-color: #27304c;
	background: -webkit-linear-gradient(70deg, #27304c, #0e2f96);
	background: -o-linear-gradient(70deg, #27304c, #0e2f96);
	background: linear-gradient(70deg, #27304c, #0e2f96);
}
#section3 {
   	min-height: 450px;
    background-color: #d2691e;
	background: -webkit-linear-gradient(#d2691e, #b71c1c);
	background: -o-linear-gradient(#d2691e, #b71c1c);
	background: linear-gradient(#d2691e, #b71c1c);
}
#section4 {
   	min-height: 450px;
    background-color: #0088ff;
	background: -webkit-linear-gradient(#0088ff, #136bb9);
	background: -o-linear-gradient(#0088ff, #136bb9);
	background: linear-gradient(#0088ff, #136bb9);
}
#intro-start {
   	min-height: 200px;
    background-color: #1351ac;
	background: -webkit-linear-gradient(30deg, #1351ac, #620a85);
	background: -o-linear-gradient(30deg, #1351ac, #620a85);
	background: linear-gradient(30deg, #1351ac, #620a85);
}
.vlogbattle-start {
    background-color: #fdd835;
	background: -webkit-linear-gradient(45deg, #e4c330, #c3a729);
	background: -o-linear-gradient(45deg, #e4c330, #c3a729);
	background: linear-gradient(45deg, #e4c330, #c3a729);
	position: absolute;
	top: -75px;
	left: 0px;
	right: 0px;
	height: auto;
	-ms-transform: skewY(5deg);
	-webkit-transform: skewY(5deg);
	transform: skewY(5deg);
}
.unscew {
	-ms-transform: skewY(-5deg);
	-webkit-transform: skewY(-5deg);
	transform: skewY(-5deg);
}
#vlog-section {
	padding-top: 700px;
}
/*@Media*/

/*Tablet and up*/
@media (min-width: 768px) {
	
.side-img {
	max-width: 50%;
}
} /*End Tablet and up*/

/*Custom1*/
@media (max-width: 576) {
#vlog-section {
	margin-top: 1400px;
}
} /*End Custom1*/
